# Ignore folders:
data/
other_files/
test/
Errors/
Names/
Results/
run_SI_dataset/Errors/
run_SI_dataset/Monitor/
run_SI_dataset/Names/
run_SI_dataset/Results/

# Ignore checkpoints
.ipynb_checkpoints/

# Ignore .npy, .json, .tsv,  .csv, .dta  files
*.json 
*.tsv
*.csv
*.dta
*.npy 
*.xlsx
*.sav 

# Ignore specific files
*.active_inventors_05
*.active_authors_05
database.txt
