# Ignore folders:
data/
other_files/
test/
Errors/
Names/
Results/
run_SI_dataset/Errors/
run_SI_dataset/Monitor/
run_SI_dataset/Names/
run_SI_dataset/Results/

# Ignore checkpoints
.ipynb_checkpoints/

# Ignore .npy, .json, .tsv,  .csv, .dta  files
*.json 
*.tsv
*.csv
*.dta
*.npy 
*.xlsx
*.sav 
*.out

# Ignore specific files
*.active_inventors_05
*.active_authors_05
database.txt
regressions/regressions_by_year_02.do
regressions/regressions_02.do
regressions/regressions_05_edu_comp.do

# include validation files 
!validation/*
!validation/automated_validation_GoogleScholar/*
!validation/manual_validation_GoogleScholar/*
